
<div class="w-full flex flex-row mt-10 gap-5 px-5">
  <section class="w-72 flex flex-col rounded border-2 border-black opacity-50 p-2">
    <div class="w-full bg-blue-950 flex justify-center items-center p-5 text-white uppercase font-semibold">Seleccionar una opción para cambiar el filtro</div>
    <div class="w-full flex flex-col mt-5 gap-5">
      <div class="text-white flex justify-center gap-3">
        <input type="radio" name="selectedSearch" id="movies" (change)="changeSearch($event)" checked hidden>
        <label for="movies" class="text-white opacity-100 bg-blue-900 hover:bg-blue-700 w-full p-2 cursor-pointer rounded text-center">Movies</label>
      </div>
      <div class="text-white flex justify-center gap-3">
        <input type="radio" name="selectedSearch" id="series" (change)="changeSearch($event)" hidden>
        <label for="series" class="text-white opacity-100 bg-blue-900 hover:bg-blue-700 w-full p-2 cursor-pointer rounded text-center">Series</label>
      </div>

    </div>
  </section>
  <section class="w-full h-full border-2 border-black rounded p-2 flex flex-col gap-5">
    <div class="flex flex-col gap-5" *ngIf="currentSearch()=='movies'">
      <div *ngFor="let item of movies()">
        <app-search-movie-card [data]="item"></app-search-movie-card>
      </div>
    </div>
    <div class="flex flex-col gap-5" *ngIf="currentSearch()=='series'">
      <div *ngFor="let item of series()">
        <app-search-serie-card [data]="item"></app-search-serie-card>
      </div>
    </div>
    <!-- <div *ngFor="let item of series()">
      <app-search-serie-card [data]="item" *ngIf="currentSearch()=='series'"></app-search-serie-card>
    </div> -->
      <div class="w-full flex flex-row gap-5 justify-center items-center mb-5">
        <button (click)="setNextPage(-1)" class="p-2 bg-blue-700 text-white rounded">Previus page</button>
        <p class="text-white">Page {{page()}} of {{maxPage()}}</p>
        <button (click)="setNextPage(+1)" class="p-2 bg-blue-700 text-white rounded">Next page</button>
      </div>
  </section>
</div>
